body {
    background-color: #fff5f8;
    font-family: 'Poppins', sans-serif;
}

.hero {
    background: linear-gradient(to right, #ffb6d9, #ffd6e8);
    color: white;
    padding: 60px;
    text-align: center;
}

.hero h1 {
    font-weight: bold;
}

.hero button {
    margin-top: 15px;
    border-radius: 20px;
    padding: 10px 25px;
}

.navbar {
    background-color: #ff9ecb;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link:hover {
    color: #ffe4ec;
}

.fakeimg {
    height: 200px;
    background: #ff9ecb ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}


.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.btn-danger {
    background-color: #ff6f91;
    border: none;
}

.btn-danger:hover {
    background-color: #ff4d73;
}


.nav-pills .nav-link.active {
    background-color: #ff8ecb;
}

.nav-pills .nav-link {
    color: #ff9ecb;
}

.footer {
    background: linear-gradient(90deg, #ff9ecb, #ffb6d9);
    color: white;
    font-weight: 500;
}
